# Dependency directories
node_modules/
allure-results/
allure-report/

# Test results and reports
test-results/
playwright-report/

# playwright cache
/playwright/

# dotenv environment variables file
.env
.env.dev
.env.staging

.idea
playwright/.auth

